<!doctype html> 
<!--[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="es"> <!--<![endif]--> 
<head> 

  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

  <title>Gente Binaria</title> 
  <meta name="description" content=""> 
  <meta name="keywords" content="">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">  
  <link rel="shortcut icon" href="images/favicon.ico"> 

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=">
  <link rel="stylesheet" href="stylesheets/gentebinaria.css">

  <!--[if lte IE 8]><script src="javascripts/html5.js"></script><![endif]-->

</head> 
<body id="home">
	<div class="wrapper">    

	  <header>
	    <a class="logo" href="#">
	      <img src="images/gentebinaria.png" alt="Gente Binaria" />
	    </a>
	  </header>

	  <section class="content">
		
			<h1>Únete a la comunidad de Gente Binaria</h1>
      
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper purus sed mi tempor vel posuere ligula varius. Mauris in ipsum augue. Cras iaculis tincidunt ultricies. Aliquam magna justo, tempus sit amet elementum et, venenatis id odio. Quisque id enim et metus malesuada venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec urna turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent malesuada posuere hendrerit. Ut mattis massa eget leo vulputate tincidunt. Donec condimentum est ut felis lacinia pretium. Sed non odio ipsum, a semper tellus. Integer magna massa, placerat a sagittis vel, suscipit et sem. </p>
			
			<form class="register" action="#">
			  <fieldset>
    
			    <legend class="accessible">Regístrate</legend>
    
					<label for="register_username">Nombre de usuario:</label>
			    <input id="register_username" type="text" name="" />

					<label for="register_pass">Contrase&ntilde;a:</label>
			    <input id="register_pass" type="text" name="" />

			    <label for="register_email">E-mail:</label>
			    <input id="register_email" type="text" name="" />
    
			    <input class="btn" type="submit" value="Registrarme" />
    
			  </fieldset>
			</form><!-- .register -->
      
      
	  </section><!-- .content -->
    
	  <footer>
	    <p>2011 &copy; Gente Binaria</p>
	  </footer>
  
	</div><!-- .wrapper -->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='javascripts/jquery-1.5.1.min.js'>\x3C/script>")</script>
  <script src="javascripts/plugins.js"></script>
  <script src="javascripts/functions.js"></script>
  <script src="javascripts/ready.js"></script>
  
  <script>
    // window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    // Modernizr.load({
    //   load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    // });
  </script>
</body>
</html>
